nav ul {
	list-style-type:none;
	margin-top: 3px;
	white-space: nowrap;
	& li {
		display: inline;
		margin-left: 4px;
	}
	& a:hover {
		color: $light-gray;
	}
}

nav ul li a {
	@include adjust-font-size-to(10px);
	color: $black;
	font-family: $san-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	&:after {
		content: '';
		margin-left: 10px;
	}
}