@include establish-baseline;

// Base
$base-font-size: 16px;
$base-line-height: 24px;
$round-to-nearest-half-line: true;

// Fonts
$san-serif: "ff-dagny-web-pro",sans-serif;
$serif: "kepler-std",serif;
//$iconfont: "Mono Social Icons Font";

/*
@if true {
$grid-background-baseline-height: $base-line-height;
body {
       @include debug-vertical-alignment;
    }
}
*/

h1, h2, h3, h4, h5, h6 {
	font-family: $san-serif;
	a {
		color: $header_link;
		text-decoration: none;
		&:hover {
			color: $header_link_hover;
		}
	}
}

h1 {
	@include adjust-font-size-to(26px);
	margin: 0 auto rhythm(1, 26px);
	@include at-breakpoint($desktop) {
		@include adjust-font-size-to(63px);
		margin: 0 auto rhythm(1, 63px);
	}
}

h2 {
	@include adjust-font-size-to(24px);
	margin: 0 auto rhythm(0, 24px);
	@include at-breakpoint($desktop) {
		@include adjust-font-size-to(41px);
		margin: 0 auto rhythm(0, 41px);
	}
}

h3 {
	@include adjust-font-size-to(22px);
  	margin: 0 auto rhythm(0, 22px);
	@include at-breakpoint($desktop) {
  		@include adjust-font-size-to(38px);
  		margin: 0 auto rhythm(0, 38px);
  	}
}

h4 {
	@include adjust-font-size-to(20px);
  	margin: 0 auto rhythm(0, 20px);
	@include at-breakpoint($desktop) {
  		@include adjust-font-size-to(32px);
  		margin: 0 auto rhythm(0, 32px);
  	}
}

h5 {
	@include adjust-font-size-to(18px);
  	margin: 0 auto rhythm(0, 18px);
	@include at-breakpoint($desktop) {
  		@include adjust-font-size-to(26px);
  		margin: 0 auto rhythm(0, 26px);
  	}
}

h6 {
	@include adjust-font-size-to(16px);
  	margin: 0 auto rhythm(0, 16px);
	@include at-breakpoint($desktop) {
  		@include adjust-font-size-to(24px);
  		margin: 0 auto rhythm(0, 24px);
  	}
}

p, ul, ol {
	@include adjust-font-size-to(16px);
	font-family: $serif;
	font-weight: 300;
	margin: 0 auto rhythm(1, 16px);
	@include at-breakpoint($desktop) {
		@include adjust-font-size-to(24px);
		margin: 0 auto rhythm(1, 24px);
	}
}

ul li {
	margin: 0 auto rhythm(0.5, 24px);
}

article p {
	@include adjust-font-size-to(16px);
	@include at-breakpoint($desktop) {
		@include adjust-font-size-to(20px);
		margin: 0 auto rhythm(0, 20px);
	}
}

blockquote {
	@include adjust-font-size-to(16px);
	margin-left: -5em;
	margin-right: -10em;
	padding-top: 1em;
	border-top: 2px solid $light_gray;
	& p {
	font-weight: 300;
	font-family: $san-serif;
	
	
	}
}

.front-headline {
	@include adjust-font-size-to(40px);
	color: $white;
	text-align: center;
   	text-shadow: 0 0 8px rgba(0,0,0,.5);
   	text-transform: uppercase;
   	width: 80%;
   	& a {
   		color: $light-gray;
   	}
}

.headline {
	@include adjust-font-size-to(110px);
	color: $white;
	text-align: center;
   	text-shadow: 0 0 8px rgba(0,0,0,.5);
   	width: 90%;
   	
}

.subhead {
	@include adjust-font-size-to(41px);
	color: $white;
	font-weight: 400;
	text-align: center;
   	text-shadow: 0 0 8px rgba(0,0,0,.5);
   	width: 40%;	
}

.meta {
	@include adjust-font-size-to(14px);
	font-family: $san-serif;
	text-transform: uppercase;
	font-weight: 400;
	& a {
		color: gray;
		text-decoration: none;	
		&:hover {
			text-decoration: underline;
		}
	}
}

.small {
	@include adjust-font-size-to(14px);
}

footer {
	//color: $white;
	& h1, h2, h3, h4, h5, h6 {
		@include adjust-font-size-to(20px);
		margin: 0 auto rhythm(1, 20px);
		text-transform: uppercase;
		font-weight: normal;
	}
	& p, ul, input[type="email"] {
	@include adjust-font-size-to(16px);
		font-family: $san-serif;
	}
	& ul {
		list-style-type: none;
		margin-left: 0px;
		padding-left: 0px;
	}
	& a {
		color: $white;
		border-bottom: 1px dotted $light_gray;
		text-decoration: none;
		&:hover {
		color: $light_gray;
			text-decoration: none;
			border-bottom: none;
		}
	}
}