section[role=main] {
    @include outer-container;
    @include pad(0 2em 0 2em);
    @include media($bp-large) {
        @include pad(default);
    }

    article {
        @include media($bp-large) {
            @include span-columns(8);
        }
    }
    .article-inside {
        background-color: $base-background-color;
        padding: 2em;
        margin-bottom: 2em;
    }
}

#content {
  //flex: 1;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  @include transform(translate3d(0,0,0));
  //transform: translate3d(0,0,0);
  transition: transform .3s;
  background: url(dist/images/bg-body.jpg) repeat;
}

#content.isOpen {
  //transform: translate3d(-260px,0,0); //Change this - to + for left open
  @include transform(translate3d(-260px,0,0));
}