footer {
    background: #000000;
    color: $white;
    min-height: 380px;
    .footer-inner {
        @include outer-container;
        padding: 2em;
        .content-wide {
        	@include media($bp-large) {
        		@include span-columns(9);
        	}
        }
        .content {
            @include media($bp-large) {
                @include span-columns(3);
                &:nth-of-type(2) {
                    @include shift(1);
                    @include span-columns(4);
                }
                &:nth-of-type(3) {
                    @include shift(1);
                    @include span-columns(3);
                    
                }
            }
        }
    }
}