
body {
    background-image:  url(dist/images/body-bg.jpg);
    background-size:   cover;                      /* <------ */
    background-repeat: repeat;
    background-position: center center;            /* optionally, center the image */
}