section[role=banner] {
    height: 85px;
    width: 100%;
    background-color: $header-background-color;
    header {
        @include outer-container;
        position: relative;
        z-index: 1000;
        .logo {
            position: absolute;
            width: 50%;
            &:hover {
                opacity: 0.8;
            }
            @include media($bp-large) {
                @include pad(0.5em 0 0 1em);
                width: 50%;
            }
        }
    }
}