
.mobile {
    position: absolute;
    right: 0; //change to left for left open
    width: 260px;
    ul {
        list-style: none;
    }
    
    @include media($bp-large) {
        display: none;
    }
}

.nav {
    display: none;
    @include media($bp-large) {
        display: inline;
        float:right;
        padding-right: 2em;
    }
}

.nav ul {
    list-style:none;
    margin:0;
    padding:0;
}

.nav ul a {
    display:block;
    text-decoration:none;
    font-size: .825em;
    padding: 25px 10px 0 10px;
    color: #E0E0D1;
    &:hover {
        color: $light-green;
    }
}

.nav ul li  {
    text-transform: uppercase;
    position:relative;
    float:left;
    margin:0;
    padding:0;
    width: 135px;
}

.nav ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#000000;
    padding-bottom: 20px;
}

.nav ul ul li {
    float:none;
    width:168px;
    padding: 0;

}

.nav ul ul a {
    padding: 20px 15px 0px 15px;
}

.nav ul li:hover > ul {
    display:block
}

#button {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    transition: background .3s;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    @include media($bp-large) {
        display: none;
    }
}

#button:before {
    content:"\f0c9";
    font: 30px/50px 'FontAwesome';
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background: rgba(255,255,255,.25);
}

#button.active {
    background: rgba(255,255,255,.5);
}
