.columns {
    @include outer-container;
    .content {
        @include media($bp-large) {
            @include span-columns(4, table);
            &:nth-of-type(2) {
                @include span-columns(4, table);
            }
            &:nth-of-type(3) {
                @include span-columns(4, table);  
            }
        }
    }
}

.video-container {
    @include outer-container;
    
    p {
        line-height: 1.4em;
    }
    img {
        vertical-align: bottom;
    }
    .video-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        margin-top: 50%;
        transform: translate(-50%, -50%);
    }

    .content {
        @include media($bp-large) {
            @include span-columns(4);
            padding: 2em 0 0 2em;
            &:nth-of-type(2) {   
                @include span-columns(4);
            }
            &:nth-of-type(3) {
                @include span-columns(4); 
                position: relative;
            }
        }
    }
}