// Core

body {
    background-color: $body_bg;
    color: $body_font;
}

img {
    max-width: 100%;
}

.logo {
    background-size: 200px 51px;
    background: url("images/h_logo.png") no-repeat;
    max-width: 200px;
    opacity: 1;
    & h1 {
        text-indent: -999em;
    }
    a:hover & {
        opacity: .5;
        transition: opacity .3s ease-in-out;
    }
}

// Wordpress styles
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}