.menu {

    display: none;
    float: none;
    list-style: none;
    padding: 15px 0;
    position: relative;
    width: 100%;
    z-index: 4;
    @include susy-breakpoint(55em, $desktop) {
        display: block;
        height: 45px;
        margin-bottom: 0;
    }
    li {
        display: block;
        float: left;
        margin-right: 40px;
        max-width: 120px;
        min-width: 30px;
        padding: 0 40px 0 0;
        position: relative;
        width: auto;
        a {
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
                color: $header_link_hover;
            }
        }
        &:hover {
            a {
                color: $header_link_hover;
            }
        }
    }
    & ul.sub-menu {
        left: -9999px;
        list-style: none;
        margin: 0;
        padding: 0px 1px 10px 0;
        position: absolute;
        text-align: left;
        width: 227px;
        a {
            background: #000;
            padding: 5px 30px 5px 20px;
            position: relative;
            text-transform: none;
            &:after {
                background-image: url(images/menu_hover.png);
                background-position: -10px 0;
                background-repeat: no-repeat;
                content: '';
                height: 11px;
                position: absolute;
                right: 10px;
                top: 12px;
                width: 8px;
            }
            &:hover {
                color: $white;
                &:after {
                    background-position: 0 0;
                }
            }
        }
        & ul.sub-menu {
            padding-top: 0px;
        }
    }
}

/*for the top-level separators*/
.menu li.separator {
    border-left: 1px solid #F7F7F7;
    border-right: 1px solid #BBBBBB;
    font-size: 0;
    overflow: hidden;
}

/*######sub level###########*/

.menu li li {
    float: none;
    white-space: nowrap;
}

.menu ul a {
    color: $header_link_hover;
    padding: 0 20px;
    text-align: left;
}

.menu li:hover ul, .menu li.onhover ul {
    /*Use this property to change offset of the dropdown*/
    top: auto;
    left: -20px;
}

.menu li:hover ul ul, .menu li:hover ul ul ul, .menu li:hover ul ul ul ul,
.menu li.onhover ul ul, .menu li.onhover ul ul ul, .menu li.onhover ul ul ul ul {
    left: -9999px;
    top: 0;
}

.menu li li:hover ul, .menu li li li:hover ul, .menu li li li li:hover ul,
.menu li li.onhover ul, .menu li li li.onhover ul, .menu li li li li.onhover ul {
    left: 228px;
}