/*! Pushy - v0.9.1 - 2013-9-16 */

/* Menu Appearance */
.menu-btn {
    @include adjust-font-size-to(16px);
    color: $white;
    cursor: pointer;
    font-family: $san-serif;
    position: absolute;
    right: 25px;
    text-transform: uppercase;
    top: 15px;
}

.pushy {

    -webkit-overflow-scrolling: touch;
    @include box-shadow(inset -10px 0 6px -9px rgba(0, 0, 0, 0.7));
    background: #333332;
    height: 100%;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 13.5em;
    z-index: 9999;
    @include susy-breakpoint(55em, $desktop) {
        width: 20em;
    }
    /* enables momentum scrolling in iOS overflow elements */
    .menu {
        margin-top: 80px;
    }
    ul {
        margin: 0;
        padding-left: 0;
        li {
            a {
                color: #b3b3b1;
                display: block;
                padding: 10px 30px;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    color: $white;
                }
            }
        }
    }
}

/* Menu Movement */

.pushy-right {
    @include transform(translate3d(13.5em, 0, 0));
    @include susy-breakpoint(55em, $desktop) {
        @include transform(translate3d(20em, 0, 0));
    }
}

.pushy-open {
    @include transform(translate3d(0, 0, 0));
}

.container-push, .push-push {
    @include transform(translate3d(-13.5em, 0, 0));
    @include susy-breakpoint(55em, $desktop) {
        @include transform(translate3d(-20em, 0, 0));
    }
}

/* Menu Transitions */

.pushy, .wrapper, .push {
    /* improves performance issues on mobile*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    @include transition(transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99));
}

/* Site Overlay */

.site-overlay {
    display: none;
}

.pushy-active .site-overlay {
    bottom: 0;
    display: block;
    position: fixed;
    right: -13.5em;
    top: 0;
    width: 100%;
    z-index: 9999;
    @include susy-breakpoint(55em, $desktop) {
        right: 20em;
    }
}