%position {
    background-color: #111;
    position: fixed;
    top: 38%;
}

#pagination {

    @include adjust-font-size-to(20px);
    display: none;
    font-family: $san-serif;
    margin-top: 80px;
    z-index: 1000;
    @include susy-breakpoint(55em, $desktop) {
        display: block;
        /* Show For big screen*/
    }
    a {
        color: #363636;
        font-weight: bold;
        margin-bottom: 10px;
        text-decoration: none;
        text-transform: uppercase;
        &.older {
            float: right;
            text-align: right;
        }
        &.newer {
            float: left;
        }
    }
}

.back {
    margin-top: 10px;
    margin-top: 30px;
    text-align: center;
    a {
        @include adjust-font-size-to(20px);
        color: #67C4A1;
        font-family: $san-serif;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.mobile-pagination {

    display: block;
    @include susy-breakpoint(55em, $desktop) {
        display: none;
        /* Hide For big screen*/
    }
    span {
        a {
            color: $black;
        }
        &.prev {
            float: left;
        }
        &.next {
            float: right;
        }
    }
}

#pagination a:hover {
    margin: 0;
    opacity: 1;
}

.pagi {
    @include adjust-font-size-to(16px);
    border-top: 1px dotted $light_gray;
    padding: 3em 0 3em 0;
    & .page-numbers {
        color: #666;
        margin: 0 .5em;
        text-decoration: none;
        &:hover {
            color: #4ba3cc;
        }
    }
    & .current {
        color: #4ba3cc;
        font-weight: bold;
    }
}