// Typography-specific
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$light-gray: rgba(204, 204, 204, 1);

// Basic Color Variables
$body_font: black;
$body_bg: rgba(236, 240, 241, 1);
$footer_bg: rgba(57, 67, 77, 1);

// Headers
$header_link: black;
$header_link_hover: #00ffb6;

// Search
$search-bar-background: rgb(22, 42, 51);
$search-autocomplete-selected-background: rgb(200, 200, 200);

$green: #8fcc93;
$light-green: #00ffb6;
$light-green-2: #00ffe0;