// Typography
/* 
http://drinchev.github.io/monosocialiconsfont/
*/

// Icon Fonts
$icon-font: "Mono Social Icons Font";

// Fonts
$san-serif: "open_sansregular";
$san-serif-bold: "open_sansbold";
$san-serif-light: "open_sanslight";
$san-serif-semibold: "open_sanssemibold";
$san-serif-extrabold: "open_sansextrabold";

// Base Fonts
$base-font-family: $san-serif;
$header-font-family: $san-serif-semibold;

// Base Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1);

// Modular Scale
$modular-scale-ratio: $major-third;
$modular-scale-base: 1em;

// Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(3);

// Colors
$orange:		rgba(224,112,30, 1);
$white: 		rgba(255, 255, 255, 1);
$black: 		rgba(0, 0, 0, 1);
$yellow: 		rgba(255, 221, 34, 1);
$blue: 			rgba(71, 125, 202, 1);
$dark-gray: 	rgba(51, 51, 51, 1);
$light-gray:	rgba(242, 242, 242, 1);
$light-yellow: 	rgba(255, 246, 191, 1);
$light-red: 	rgba(251, 227, 228, 1);
$light-green: 	rgba(230, 239, 194, 1);


// Typography-specific
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$light-gray: rgba(204, 204, 204, 1);

// Basic Color Variables
$body_font: black;
$body_bg: rgba(236, 240, 241, 1);
$footer_bg: rgba(57, 67, 77, 1);

// Headers
$header_link: black;
$header_link_hover: #00ffb6;

// Search
$search-bar-background: rgb(22, 42, 51);
$search-autocomplete-selected-background: rgb(200, 200, 200);

$green: #8fcc93;
$light-green: #00ffb6;
$light-green-2: #00ffe0;





// Background Color
$base-background-color: $white;
$footer-background-color: $orange;
$header-background-color: $black;

// Font Colors
$footer-text-color: $white;
$base-font-color: $dark-gray;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: 2em;
$form-font-family: $base-font-family;
