// Icon Fonts
$icon-font: "Mono Social Icons Font";

// Fonts
$sans-serif: "Open Sans";

// Base Fonts
$base-font-family: $sans-serif;

// Base Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1);

// Modular Scale
$modular-scale-ratio: $major-third;
$modular-scale-base: 1em;

// Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(3);

// Colors
$white: 		rgba(255, 255, 255, 1);
$black: 		rgba(0, 0, 0, 1);
$blue: 			rgba(71, 125, 202, 1);
$dark-gray: 	rgba(51, 51, 51, 1);
$light-gray: 	rgba(204, 204, 204, 1);
$green: 		rgba(143, 204, 147, 1);
$light-green: 	rgba(0, 255, 224, 1);
$red: 			rgba(250, 107, 73, 1);
$purple: 		rgba(61, 115, 153, 1);
$dark-green: 	rgba(11, 105, 60, 1);
$pink:			rgba(252,96,99, 1);

// Search
$search-bar-background: rgb(22, 42, 51);
$search-autocomplete-selected-background: rgb(200, 200, 200);

// Background Color
$base-background-color: 			$white;
$footer-background-color: 			$black;
$header-background-color: 			$black;
$box-avis-background-color: 		$light-green;
$box-courrier-background-color: 	$red;
$box-evenements-background-color: 	$pink;
$bread-crumb-background-color: 		$light-green;

// Font Colors
$footer-text-color: $white;
$base-font-color: 	$dark-gray;

// Link Colors
$base-link-color: 		$green;
$hover-link-color: 		$dark-gray;
$base-button-color: 	$green;
$hover-button-color: 	$dark-gray;
$footer-link-color: 	$light-green;
$footer-link-hover: 	$white;
$box-link-color: 		$white;
$box-hover-color: 		$dark-gray;

// Border color
$base-border-color: $light-gray;
