// Base
$base-font-size: 16px;
$base-line-height: 24px;
$round-to-nearest-half-line: true;

@include font-face(open_sanslight, 'dist/fonts/opensans-light', normal, normal);
@include font-face(open_sansregular, 'dist/fonts/opensans-regular-webfont', normal, normal);
@include font-face(open_sansbold, 'dist/fonts/opensans-bold', normal, normal);
@include font-face(open_sanssemibold, 'dist/fonts/opensans-semibold-webfont', normal, normal);
@include font-face(open_sansextrabold, 'dist/fonts/opensans-extrabold-webfont', normal, normal);

// Fonts
$san-serif: "open_sansregular";
$san-serif-bold: "open_sansbold";
$san-serif-light: "open_sanslight";
$san-serif-semibold: "open_sanssemibold";
$san-serif-extrabold: "open_sansextrabold";



h1 {
    //@include adjust-font-size-to(26px);
    font-family: $san-serif;
    //margin: 0 auto rhythm(1, 26px);
  @include media($bp-large) {
        //@include adjust-font-size-to(80px);
        //margin: 0 auto rhythm(1, 80px);
    }
}

h2 {
    //@include adjust-font-size-to(24px);
    font-family: $san-serif;
    //margin: 0 auto rhythm(0, 24px);
    @include media($bp-large) {
        //@include adjust-font-size-to(66px);
        //margin: 0 auto rhythm(0, 66px);
    }
}

h3 {
    //@include adjust-font-size-to(22px);
    font-family: $san-serif;
    //margin: 0 auto rhythm(0, 22px);
    @include media($bp-large) {
        //@include adjust-font-size-to(40px);
        //margin: 0 auto rhythm(0, 40px);
    }
}

h4 {
    //@include adjust-font-size-to(20px);
    font-family: $san-serif;
    margin: 50px auto 20px;
    @include media($bp-large) {
        //@include adjust-font-size-to(37px);
        //margin: 100px auto 20px;
    }
}

h5 {
    //@include adjust-font-size-to(18px);
    font-family: $san-serif;
    //margin: 0 auto rhythm(0, 18px);
    @include media($bp-large) {
        //@include adjust-font-size-to(24px);
        //margin: 0 auto rhythm(0, 24px);
    }
}

h6 {
    //@include adjust-font-size-to(16px);
    font-family: $san-serif-bold;
    margin: 0 auto 0.8em;
    text-transform: uppercase;
    @include media($bp-large) {
        //@include adjust-font-size-to(16px);
    }
}

p, ul, ol {
    //@include adjust-font-size-to(16px);
    font-family: $san-serif;
    //margin: 0 auto rhythm(1, 16px);
    @include media($bp-large) {
        //@include adjust-font-size-to(16px);
        line-height: 1.5em;
        //margin: 0 auto rhythm(1, 16px);
    }
}

.small {
    //@include adjust-font-size-to(12px);
    line-height: 1.2em;
    //margin: 0 auto rhythm(1, 12px);
    @include media($bp-large) {
        //@include adjust-font-size-to(18px);
        //margin: 0 auto rhythm(1, 18px);
    }
}

blockquote {
    //@include adjust-font-size-to(16px);
    font-family: $san-serif;
    @include media($bp-large) {
        //@include adjust-font-size-to(43px);
        //margin: 0 auto rhythm(1, 43px);
    }
}

a {
    //color: white;
    &:hover {
        color: #00ffb6;
        outline: none;
        text-decoration: none;
    }
}

hr {
    //border-color: $body_bg;
    margin-bottom: 50px;
    margin-top: 60px;
}

.headline {
    //font-family: $san-serif-extrabold;
    margin-bottom: 20px;
    margin-top: 0px;
    text-transform: uppercase;
    &:after {
        background: url(dist/images/headline-arrow.png) no-repeat;
        content: '';
        display: inline-block;
        height: 27px;
        margin-left: 10px;
        width: 20px;
    }
}

.meta {
    font-family: $san-serif-bold;
    margin-bottom: 0em;
}

.video-icon {
    margin-top: 50%;
}

footer {
    a {
        color: $header_link_hover;
        text-decoration: none;
        &:hover {
            color: $white;
        }
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
}