.arrows {
    position: relative;
    @include media($bp-large) {
        &:before {
            background: url(dist/images/sidebar-blue-arrow.png);
            content: '';
            height: 47px;
            left: 0;
            position: absolute;
            top: -31px;
            width: 100%;
            z-index: 100;
            .home & {
                background: url(dist/images/blue-arrow.png);
                height: 65px;
                top: -65px;

            }
        }
    }
}

.box-1, .box-2, .box-3 {
     padding: 2em;
     position: relative;
}

.box-2 { background: #3D7399 } //$green; }

.box-3 { background: #FF5F40 }//$light-green; }

.box-1 { background:  $light-green-2; }