button {
    background: #e0e0d1;
    border: none;
    display: block;
    padding: 4px 20px 3px 10px;
    position: relative;
    &:after {
        border-bottom: 15px solid transparent;
        border-left: 15px solid #e0e0d1;
        border-top: 15px solid transparent;
        content: '';
        position: absolute;
        right: -15px;
        top: 0px;
    }
}